---
import feactures from "../../config/feactures.json";
---
<script>

    const moreBtn = document.querySelector('.about__btn') as HTMLButtonElement;
    let flagBtn = false;
    const paragraphs: HTMLElement[] = [];

    moreBtn?.addEventListener('click', ()=> {
        const elements = document.querySelectorAll('.about__p2') as NodeListOf<HTMLElement>;      
        flagBtn = !flagBtn;

        elements.forEach((element) => {
            const value = element.textContent?.trim() || '';
            if (value !== '') {
                paragraphs.push(element);
            }
        });

        if (flagBtn){
            paragraphs.forEach((paragraph) => {
                paragraph.style.display = 'block';
            });
            moreBtn.textContent = 'Ver -';
        } else{
            paragraphs.forEach((paragraph) => {
                paragraph.style.display = 'none';
            });
            moreBtn.textContent = 'Ver +';
        }
    });

</script>


<section class="about__section" id="about">
    <article class="about__article">
        <h2 class="about__h2 global__h2">Sobre <span class="about__span global__span">Mí!</span></h2>
        <div class="about__div">
            <img src="/Astro-Portafolio/images/profile-2.webp" alt="Segunda foto de perfil." loading="lazy" class="about__img">
            <span class="about__span--cir"></span>
        </div>
    </article>

    {
        feactures.map(feacture =>(
            
            <article class="about__article">
                <h3 class="about__h3">{feacture.title}</h3> 
                <p class="about__p">{feacture.description}</p>
                {feacture.descComp !== "" ? <p class="about__pp2">{feacture.descComp}</p> : null}
                {feacture.descComp2 !== "" ? <p class="about__p2" id="about__pc1">{feacture.descComp2}</p> : null}
                {feacture.descComp3 !== "" ? <p class="about__p2" id="about__pc2">{feacture.descComp3}</p> : null}
                {feacture.descComp4 !== "" ? <p class="about__p2" id="about__pc3">{feacture.descComp4}</p> : null}
            </article>

        ))
    }

    <article class="about__article global__btn--box">
        <button class="about__btn global__btn">Ver +</button>
    </article>
</section>