---
import dataHome from '../../config/dataHome.json';
import CardSocial from '../cardSocial.astro';
import SelectLang from '../selectLang.astro';
import ButtonModel from '../buttonModel.astro';
---
<script>
    //Obtener todas las etiquetas <a> que contienen los SVG
    const buttonModel = document.querySelectorAll('.home__a');

    //Agregar un evento de mouseover para aplicar la clase "active" en el hover
    buttonModel.forEach(link => {
        const svg = link.querySelector('svg');

        if (svg){
            link.addEventListener('mouseover', () => {
                svg.classList.add('active');
            });

            // Agregar un evento de mouseout para eliminar la clase "active" al salir del hover
            link.addEventListener('mouseout', () => {
                svg.classList.remove('active');
            });
        }
    });
</script>


<section class="home__section active" id="home">
    <article class="home__article home__article--leng">
        <SelectLang/>
    </article>

    {
        dataHome.map(data =>(
        <article class="home__article home__article--content">
            <div class="home__div home__div--txt">
                <h2 class="home__h2"><span class="home__span global__span">{data.span}</span><br>{data.title}</h2>
                <div class="home__div home__div--h3">
                    <h3 class="home__h3">{data.subtitle}</h3>
                </div>
                <p class="home__p">{data.description}<br>{data.subdescription}</p>
            </div>
            <div class="home__div home__div--img">
                <img src={data['image-url']} alt="Primera foto de perfil." class="home__img home__img--user" loading="lazy">
            </div>
        </article>
        ))
    }

    <article class="home__article global__btn--box btn__box">
        <ButtonModel class="home__dcv global__btn" id="home__dcv" label="Descargar CV"/>
        <ButtonModel class="home__lt global__btn" id="home__lt" label="Hablemos"/>
    </article>

    <article class="home__article home__article--rrss">
        <CardSocial/>
    </article>
</section>