---
import projects from "../../config/project.json";
---

<section class="project__section" id="project">
    <article class="project__article project__article--h2">
        <h2 class="project__h2 global__h2">Mis <span class="project__span global__span">Proyectos</span></h2>
    </article>

    <article class="project__article project_views">
        {
            projects.map(project =>(
                <div class="project__container">    
                    <div class="project__card">
                        <div class="project__card--front global__face">
                            <div class="project__info project__info--front">
                                <img src={project.image} alt="" loading="lazy" class="project__img">
                                <div class="project__clipPath">
                                    <h3 class="project__h3">{project.title}</h3>
                                    <div class="path__div--f1 path__div"></div>
                                    <div class="path__div--f2 path__div"></div>
                                    <div class="path__div--f3 path__div"></div>
                                    <div class="path__div--f4 path__div"></div>
                                    <div class="path__div--f5 path__div"></div>
                                </div>
                            </div>
                        </div>
                        <div class="project__card--back global__face">
                            <div class="project__info project__info--back">
                                <!-- <h4 class="project__h4">{project.subtitle}</h4> -->
                                <p class="project__p">{project.description}</p>
                                <div class="project__content--svg">
                                    {project.skill0 !== "" ? <img src={project.skill0}  alt="" loading="lazy" class="project__svg"> : null}
                                    {project.skill1 !== "" ? <img src={project.skill1}  alt="" loading="lazy" class="project__svg"> : null}
                                    {project.skill2 !== "" ? <img src={project.skill2}  alt="" loading="lazy" class="project__svg"> : null}
                                    {project.skill3 !== "" ? <img src={project.skill3}  alt="" loading="lazy" class="project__svg"> : null}
                                </div>
                                <a class="project__btn global__btn" target="_blank" href={project.url}>Ver +</a>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </article>

</section>